* {
    background-color: #9AD0EC;

}

header {
    padding: 20px;
    color: white;
    Border: 2px;
    border-style: solid;
    border-color: black;
    background-color: #D8E3E7;
}

header h1 {
    display: inline-block;
    background-color: #D8E3E7;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    background-color: #D8E3E7;

}

header nav ul li {
   display: inline-block;
   background-color: #D8E3E7;
}

section {
    background-color: #D8E3E7;
    border: 2px solid black;
}