body {
    background-color: lightblue;
} 

header {
    padding: 20px;
    color: white;
    background-color: rgb(85, 85, 85);
    
}

header h1 {
    display: inline-block;
    background-color:rgb(85, 85, 85);
    text-decoration: underline;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    background-color:rgb(85, 85, 85);

} 

header nav ul li {
   display: inline-block;
   list-style: none;

}

a {
    color: white;
}
 
main {
   display: flex;
   flex-direction: row; 
}

aside {
    border-right: 10px solid black;
    font-size: 50px;
    padding: 50px;
}

article { 
    border-left: 10px solid red;
}

#biography h3 {
    font-size: 20px;
}

#projects h3 {
    font-size: 20px;
}


img {
    height: 600px;
    width: 100%;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}

footer ul li {
     display: inline;
     list-style: none;
}